#slideshow_container{
    width:90%;
    height: 500px;
    position: relative;
    border: solid blue;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
#slideshow_container > div {
    position:absolute;
    width:fit-content;
    height:fit-content;
    top:0;
    left:0;
}
.video_container{
    width:100%;
    height:fit-content;
    border:dotted purple;
    margin-bottom:40px;
}
.video_card{
    width:30%;
    height: 400px;
    background-color: black;
    border:solid 2px blue;
    border-radius: 10px;
    color:white;
    margin:20px;
}
button{
    width:100px;
    height:40px;
    background-color: blue;
    border:solid blue;
    border-radius: 2px;
    margin:0;
}
#winners_container{
    width:90%;
    height:400px;
    border:dotted red;
}
.winner_card{
    width:370px;
    height: 300px;
    border:solid orange;
    border-radius:10px;
    float:left;
    margin:10px;
}