#screenFiller {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}
#signup_form{
    background:transparent;
    width:100%;
    height:100%;
}
#signup_head{
    background-color:greenyellow;
    margin-top: 0%;
    }
h3.signup_h3{
    background-color: aqua;
    text-decoration-color: aliceblue;
}
input.signup_input{
    width:100%;
    padding: 12px 20px;
    margin-top:0%;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#signup_button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
}
#signup_button:hover{
    background-color: #45a049;
}
#login_button{
    background-color: #4CAF50;
    color: white;
    height: 70%;
    width:80%;
    position: absolute;
    bottom:0;
    left:0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
}
button.nav_buttons{
    background-color:brown;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    align-items: center;
}
button.nav_buttons:hover{
    background-color: #45a049;
}
span.user_text{
    color: aliceblue;
}
input.login_input{
    width: 100%;
    height: 50%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}