#body_div{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: +100;
}
div.empty_divs{
    width: 100%;
    height:20%;
}
#middle_div{
    width: 100%;
    height: 450px;
}

#form_div{
    width: 100%;
    height: 100%;
    position:relative;
}
.background-video-wrapper{
   position: fixed;
   z-index: -100;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   overflow: hidden;
}
#home_video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#signup_div{
    position: absolute;
    width:100%;
    height:90%;
    backface-visibility: hidden;
    transform: rotateY(180deg);

}
.signup_input{
    width:86%;
    padding: 12px 20px;
    margin-top:20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.login_input{
    width:86%;
    padding: 12px 20px;
    margin-top:50px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.signup_button{
    background-color: #4CAF50;
    color: white;
    width: 86%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    margin-bottom: 0;
}
#signup_button:hover{
    background-color: #45a049;
}
#logo_img{
    margin-top: 5%;
    -webkit-animation: rotation 5s infinite linear;    
}
@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

.flip_container{
    position:relative;
    background:"red";
}
.flip_card{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
#flip_form{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
.flip_card:hover{
    transform:rotateY(180deg);
}
.flip_front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #4CAF50;
    border:3px solid gold;
    border-radius:10px; 
    color: red;
}
.flip_back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #4CAF50;
    color: red;
    border:3px solid gold;
    border-radius:10px;
    transform:rotateY(180deg);
}
#login_div{
    position: absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
    
}