#players_container{
    width:100%;
    height:max-content;
}
#register_game{
    margin:0;
    padding:3px;
    width:400px;
    border:solid 10px green;
    border-radius:5px;
    background-color:green; 
    color:white;
    font-family:'Arial';
}
#register_game:hover{
    background-color:lime;
    border-color:lime;
}
tr{
    margin:0
}
td{
    border:solid red;
    margin:0;
    height:100px;
    width:100px;
    
}
#gamer_img{
    width:100px;
    height:100px;
    transition: transform .2s;
    margin:5px;
    border:solid blue;
}
#gamer_img:hover{
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(2);
}